* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2d354a;
  --secondary-color: #293146;

  --primary-text-color: white;
}

.App {
  text-align: center;
}

.custom-shape-divider-bottom-1640841063 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640841063 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 141px;
}

.custom-shape-divider-bottom-1640841063 .shape-fill {
  fill: var(--secondary-color);
}
